/* CSS RESET */

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer}
div{margin:0;padding:0;background-color:transparent;}
hr,img{border:0}
applet,iframe,object{border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
ul,li{list-style:none;margin:0;padding:0;}
strong{font-weight:bold;}
em{font-style:italic;}

/* END CSS RESET */

body {
  text-align: center;
}

#pentago {
  width: 276px;
  height: 276px;
  padding-top: 14px;
  text-align: center;
  display:inline-block;
}

.block {
  display: inline-block;
  width: 120px;
  padding: 5px;
  margin: 3px;
  border-radius: 8px;
  border: 1px solid black;
}

.row {
  height: 35px;
  padding-top: 5px;
  display: inline-block;
}

.space {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: rgb(220,221,223);
  border-radius: 25px;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 2px 15px 0px rgba(50, 50, 50, 0.59);
  -moz-box-shadow:    inset 0px 2px 15px 0px rgba(50, 50, 50, 0.59);
  box-shadow:         inset 0px 2px 15px 0px rgba(50, 50, 50, 0.59);
}

.space:not(:last-child) {
  margin-right: 10px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}